.container{
  display: flex;
  height: 85vh;
}

.left{
  flex-basis: 60%;
  background-image: url('medicalLogin.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.right{
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  padding: 5%;
  gap: 1rem;
  a{
    border-radius: 15px;
    background-color: var(--button-primary);
    padding: 1rem 3rem;
    text-decoration: none;
    color: var(--text-inverse);
    font-weight: 800;
  }
  input{
    border-radius: 15px;
    border: none;
    height: 2rem;
    padding: 10px 1rem;
    font-size: 1.2rem;
  }
  span{
    color: blueviolet;
  }
}

.btnContainer{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}