.container {
    display: flex;
    flex-direction: column;
}

.section {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.section>* {
  flex-basis: 25%;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logoContainer>*:nth-child(1) {
  flex-basis: 20%;
}

.logo {
  background-image: url('logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 5rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 2rem;

  p {
    color: var(--text-muted);
  }
}

.enlaces {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  a {
    color: var(--text-secondary);
    text-decoration: none;
  }
}

.contactos {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  a {
    color: var(--text-secondary);
    text-decoration: none;
  }
}

.siguenos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.itemContainer {
  display: flex;
  gap: 1rem;

  img {
    height: 30px;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 0.4rem;
    cursor: pointer;
  }
}

.down {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    color: var(--text-muted);
}