.container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  min-height: 80vh;
  padding: 2rem 0rem;
}


.cardContainer{
  display: grid;
  width: 80%;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  
}