.container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #f8fafc;
    min-height: 100dvh;
}

.container > *:nth-child(2){
    background-color: var(--background-primary);
}