.container{
    display: flex;
    justify-content: space-around;
}

.nav{
    display: flex;
    gap: 1rem;
    a{
        text-decoration: none;
        color: var(--text-primary);
    }
}

.perfil{
    display: flex;
    gap: 1rem;
}